[SddmGreeterTheme]
Name=Blink
Description=Login screen matching the Blink shell
Author=turbogoomba
Type=sddm-theme
Version=1.0
Website=https://github.com/turbogoomba/blink
MainScript=Main.qml
ConfigFile=theme.conf
QtVersion=6
